/* --------------
    google fonts
----------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* -------------
global css 
---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 5px;
    display: inline-block;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    line-height: 1.2em;
    color: #1f1f1f;
}

p {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
    font-weight: 300;
}

button:focus {
    outline: none;
    border: none;
}


/* ------------------
reusable class
---------------- */

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-control:focus {
    box-shadow: none;
}